<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
</head>
<body>
    <h1>Inicio de sesión</h1>
    <form method="post" action="/ejercicio2">
        <label>Ingresa tu nombre</label>
        <input type="text" name="nombre" required><br>
        <label>Ingresa tu contraseña</label>
        <input type="password" name="password" required><br>
        <button type="submit">Verificar</button>
    </form>
</body>
</html>
