<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
</head>
<body>
    <h1>Calculo de compras</h1>
    <form method="post" action="/ejercicio1">
        <label>Ingresa tu nombre</label>
        <input type="text" name="nombre" required><br>
        <label>Ingresa tu edad</label>
        <input type="number" name="edad" required><br>
        <label>Ingresa la cantidad de tarros de pintura a comprar</label>
        <input type="number" name="cantidad_tarros" required><br>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>
